<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-sntp2"
    version="2.0.2">

  <name>SNTPTime</name>
  <description>Cordova Plugin to connect to SNTP servers and calculate device clock offset.</description>

  <js-module name="sntp" src="www/cordova-plugin-sntp2.js">
    <clobbers target="sntp2" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="cordova-plugin-sntp2">
        <param name="android-package" value="bosowa.hris.cordova.CDVPluginSntp" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/CDVPluginSntp.java" target-dir="src/bosowa/hris/cordova" />
    <source-file src="src/android/SntpClient.java" target-dir="src/bosowa/hris/cordova" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="cordova-plugin-sntp2">
        <param name="ios-package" value="cordova-plugin-sntp" />
      </feature>
    </config-file>
    <source-file src="src/ios/CDVPluginSntp.m" />
    <header-file src="src/ios/CDVPluginSntp.h" />
  </platform>
</plugin>
